@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --Dark-cyan: hsl(168, 34%, 41%);
    --Dark-blue: hsl(183, 25%, 32%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--Dark-blue);
    margin: 0;
    padding: 0;
}

h1 {
    font-size:75px;
    color: var(--Dark-blue);
    font-family: Raleway;
    font-weight: 200;
    padding: 100px;
    padding-bottom: 0;
    text-align: center;
    background-color: var(--White);
    margin: 0;
    
}

.contact {
    margin-top: 400px;
}

p {
    font-size:30px;
    color: var(--White);
    font-family: Raleway;
    font-weight: 300;
    font-style: italic;
    margin: 30px;
    text-align: center;
}

a {
    color: var(--White);
    font-family: Raleway;
    text-align: center;
}