@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Raleway:ital,wght@0,700;1,500&display=swap');

:root
{
    --Dark-cyan: hsl(168, 34%, 41%);
    --Dark-blue: hsl(183, 25%, 32%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--Dark-blue);
    margin: 0;
    padding: 0;
}

h1 {
    font-size:60px;
    color: var(--Dark-blue);
    font-family: Raleway;
    font-weight: 700;
    padding: 100px;
    padding-bottom: 0;
    text-align: center;
    background-color: var(--White);

}

.contact {
    margin-top: 200px;
}

p {
    font-size:25px;
    color: var(--White);
    font-family: Raleway;
    font-weight: 500;
    font-style: italic;
    margin: 30px;
    text-align: center;
}

a {
    color: var(--White);
    font-family: Raleway;
    text-align: center;
}